<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="/">

      </a>
      <h1>TransCareWatch</h1>
      <ul class="navbar-nav align-items-center justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="login_link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <form action="/location" method="GET">
              <div class="d-flex mb-4">
                <div class="form-outline me-3">
                  <input type="search" class="form-control" placeholder="Zip Code"> 
                </div>
                <button type="submit" class="btn btn-outline-danger" >Search</button> 
              </div>
            </form>
        </li>
      </ul>
    </div>
  </nav>