html,
        body {
        height: 100%;
        }

        body {
        display: inline;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #ede9e9;
        }

        .navbar-nav{
        min-height: 25px        
        }

        .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }

        .form-signin .checkbox {
        font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
        z-index: 2;
        }

        .form-signin input[type="username"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        }
        .button-box {
        text-align:center;
         margin-top:20px;
        }
        .reserved{
        border: 10px solid                
        }
        ol {
        list-style-type:none       
        }
        h1{
        padding-block: 5px;
        }