<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="/">

      </a>
      <h1><span style="color: #5BCEFA">TransCa</span><span style="color: #F5A9B8">reWatch</span></h1>
      <ul class="navbar-nav text-align-center">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="login_link" href="/loginpage">Login</a>
        </li>
          <form class="d-flex" action="/location" method="GET">
              <input type="search" class="form-control me-2" placeholder="Zip Code">
              <button type="submit" class="btn btn-outline-success" >Search</button> 
          </form>
      </ul>
    </div>
  </nav>