<%- include('../partials/header', {title:"TransCareWatch" + location}) -%>

</head>
<body>
<h1><%=location%> is <%=rank%> of Gender Affirming Care</h1>
<body class="text-center">
    <div class="modal-body row">
      <div class="col-md-6">
        <h2>Overview</h2>
        <table class="table table-responsiv">
            <thead>
            <tr>
                <th scope="col">Trans Care</th>
                <th scope="col">Supported?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>HRT for Minors (Blockers and E/T)</td>
                <td></td>
            </tr>
            <tr>
                <td>Diagnoses of Gender Dysphoria for Minors</td>
                <td></td>
            </tr>
            <tr>
                <td>Socially Transitioning in Schools</td>
                <td></td>
            </tr>
            <tr>
                <td>HRT for Adults</td>
                <td></td>
            </tr>
            <tr>
                <td>Diagnoses of Gender Dysphoria for Adults</td>
                <td></td>
            </tr>
            <tr>
                <td>Gender Affirming Surgeries for Adults</td>
                <td></td>
            </tr>
            </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Resources</h2>
        <a href="https://www.plannedparenthood.org/health-center?location=<%=location%>&service=lgbtservice&page=1">Planned Parenthood</a>
      </div>
    </div>


</body>
</html>