<%- include('../partials/header', {title:"TransCareWatch: Home Page", email:""}) -%>

</head>
<body style="background-color: #494D5F">
    <div style="text-align:center;">
        <h2>Gender Affirming Care Across the Nation</h2>
        <%- include ("USA.svg") %>
    </div>
    <script type="text/javascript">
        function convertRange(value, r1, r2){
            return ( value - r1[ 0 ] ) * ( r2[ 1 ] - r2[ 0 ] ) / ( r1[ 1 ] - r1[ 0 ] ) + r2[ 0 ];
        }

        let stateList = <%- JSON.stringify(states)%>;
        console.log(stateList)
        stateList.forEach(state => {
            console.log(state)
            let score = dict => Object.values(dict).reduce((a, b) => parseInt(a) + parseInt(b), 0) 
            console.log("hsl(" + convertRange(score(state.overview), [0,18], [0,120]) +", 77%, 44%)")
            document.getElementsByClassName(state["name"].replace(/\s+/g, ''))[0].style.fill = "hsl(" + convertRange(score(state.overview), [0,18], [0,120]) +", 77%, 44%)"
        });

        //
        //
    </script>
</body>
<%- include ('../partials/footer') -%>
</html>