<%- include('../partials/header', {title:"TransCareWatch: Home Page"}) -%>

</head>
<body style="background-color: #494D5F">
    <div style="text-align:center;">
        <h2>Gender Affirming Care Across the Nation</h2>
        <%- include ("USA.svg") %>
    </div>
</body>
</html>