<%- include('../partials/header', {title:"TransCareWatch: Home Page"}) -%>

</head>
<body style="background-color: #494D5F">
    <div style="text-align:center;">
        <h2>Gender Affirming Care Across the Nation</h2>
        <%- include ("USA.svg") %>
    </div>
    <script type="text/javascript">
        function convertRange(value, r1, r2){
            return ( value - r1[ 0 ] ) * ( r2[ 1 ] - r2[ 0 ] ) / ( r1[ 1 ] - r1[ 0 ] ) + r2[ 0 ];
        }

        let stateList = <%=states%>;
            dictionary => Object.values(dictionary).reduce((a, b) => a + b, 0);
        
    </script>
</body>
</html>